.container {
  display: flex;
}
#app {
  background-color: wheat;
  text-align: center;
}
.list-item {
  background-color: whitesmoke;
}
div {
   width: 100%;
 }
img {
  margin: 10px;
}
.left-side-menu {
  width: 500px;
}